.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  border: none;
  border-radius: 8px;
  overflow: hidden;
}

.chatHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: none;
  background-color: rgb(240, 242, 245);
}

.chatHeader img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.chatMessages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.messageBubble {
  max-width: 60%;
  padding: 8px;
  border-radius: 10px;
  margin: 5px;
  text-align: left;
}

.sentMessage {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.receivedMessage {
  align-self: flex-start;
  background-color: #eaeaea;
}

.messageTimestamp {
  font-size: 0.75rem;
  text-align: right;
  color: gray;
  margin-top: 5px;
}

.chatInput {
  display: flex;
  align-items: center;
  padding: 10px 26px 10px 26px;
  background-color: rgb(240, 242, 245);
  gap: 18px;
}

.chatInput input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
}

.icon {
  font-size: 1.5rem;
  color: rgb(84, 101, 111);
  cursor: pointer;
}
