.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  border: none;
  overflow: hidden;
}

.chatHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: none;
  background-color: var(--color-soft-gray);
  justify-content: space-between;
}

.chatHeader img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;

  h3 {
    font-size: 20px;
    font-weight: 500;
  }
}

.chatHeaderIcons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.chatMessages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-soft-white);
  font-weight: 400;
}

.messageBubble {
  max-width: 60%;
  padding: 8px;
  border-radius: 10px;
  margin: 5px;
  text-align: left;
}

.sentMessage {
  align-self: flex-end;
  background-color: var(--color-green-message);
}

.receivedMessage {
  align-self: flex-start;
  background-color: var(--color-gray-message);
}

.messageTimestamp {
  font-size: 0.75rem;
  text-align: right;
  color: var(--color-dark-gray);
  margin-top: 5px;
}

.chatInput {
  display: flex;
  align-items: center;
  padding: 10px 26px 10px 26px;
  background-color: var(--color-soft-gray);
  gap: 18px;
}

.chatInput input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
}

.icon {
  font-size: 1.3rem;
  color: var(--color-slate-gray);
  cursor: pointer;
}
