.messengerContainer {
  display: flex;
  height: 100vh;
}

.contactList {
  width: 30%;
  border-right: 1px solid var(--border-soft-gray);
}

.chatArea {
  flex: 1;
  color: var(--color-slate-gray);
  font-size: 18px;
  font-weight: 500;
}

.noChatMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  background-color: var(--color-soft-gray);
}
